.contact-section {
  min-height: 100vh;
  overflow: hidden;

  & .form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;

    & h2 {
      color: var(--main-color);
    }

    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .msg-label {
        color: var(--main-color);
        width: 100%;
        font-size: 1.8rem;
        margin: 2rem 0 0;
      }

      textarea {
        padding: 1rem;
        background-color: transparent;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        color: gray;
        border: 0.5px solid var(--main-color);
        min-height: 18rem;
        max-height: 23rem;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;

        &::placeholder {
          color: rgb(220, 220, 220);
        }
      }

      button {
        background-color: var(--main-color);
        width: 100%;
        padding: 1rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .contact-section {
    .form-container {
      form {
        width: 80vw;
        max-width: 70rem;
        margin: 0 auto;
        padding: 2rem 1rem;
        border-radius: 2rem;

        textarea {
          font-size: 2rem;
          padding: 1rem;
          transition: transform 0.2s;
        }
      }
    }
  }
}
