.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(33, 33, 41, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;

  .modal-container {
    position: relative;
    height: 90%;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px #ffffff49;
    overflow: hidden;

    display: grid;
    grid-template-rows: 50% 50%;

    .fa-times {
      position: absolute;
      top: 1%;
      right: 3%;
      font-size: 2rem;
      transition: transform 0.2s;
      color: gray;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }

    .project-modal-info {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        color: white;
        text-align: center;
        font-size: 2.5rem;
      }

      p {
        color: white;
        font-size: 1.6rem;
      }

      .techs {
        display: flex;

        img {
          height: 5vh;
          width: auto;
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        a {
          flex: 1;
          padding: 2rem 1rem;
          text-align: center;
          margin: 1rem;
          border-radius: 1rem;
          background-color: gray;
          color: white;
          font-size: 1.4rem;

          &:first-child {
            background-color: #3784e9;
          }
        }
      }
    }
  }
}
